.main
{
    background-color: lightblue;
    margin: 50px;
    padding: 25px;
}
.center
{
    text-align:center;
}
.text-box
{
    display:inline-block;
}

.section, .title
{
    padding-top:10px;
    padding-bottom:10px;
}
.title h1
{
    text-align:center;
    color:darkblue;
    font-size:100px;
}
.section h2, h3
{
    color: darkblue;
}
.section ul
{
    list-style-type: square;
}
.section table
{
    border-collapse: collapse;
}
.section td
{
    border: 1px solid;
}
.section th
{
    border:2px solid;
}
.code-box
{
    background-color: black;
    color: white;
    margin: 10px;
    line-height: 1.0em;
    padding: 10px;
}
.code-box code
{
    display: inline;
    color:white;
}