{% extends "layout.html" %}
{% from "macros.html" import display_form_field %}
{% block content %}
<h2>{{ group.name }} Access</h2>
<h3>Current users</h3>
<ul>
{% for user in group.members %}
<li>{{ user.username }}</li>
{% endfor %}
</ul>
<h3>Remove users</h3>
<form method="POST" action="{{ url_for('group_access', group_name=group.name) }}">
    {{ remove_form.hidden_tag() }}{{ display_form_field(remove_form.username_to_remove) }}{{ remove_form.remove }}
</form>

<h3>Add users</h3>
<form method="POST" action="{{ url_for('group_access', group_name=group.name) }}">
    {{ add_form.hidden_tag() }}{{ display_form_field(add_form.username_to_add) }}{{ add_form.add }}
</form>
{% endblock %}
