{% extends "layout.html" %}
{% from "macros.html" import display_form_field %}
{% block content %}
{% if current_user.groups %}
Groups:
<ul>
    {% for group in current_user.groups %}
    <li><a href="{{ url_for("group_summary", group_name=group.name) }}">{{ group.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
You have no groups. Do you want to create one?
{% endif %}
Create a new group:
<form method="POST" action="{{ url_for('index') }}">
    {{ form.hidden_tag() }}{{ display_form_field(form.name) }}{{ form.create }}
</form>
{% endblock %}
